<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
@using Azure.Core
@using WebApplication10.Data.Entities
@using WebApplication10.Services

@inject IEmployeeService employeeService

    @{
        IList<Employee> employees = Model; // Получаем список сотрудников
        string? sortOrder = ViewData["SortOrder"] as string; // Получаем порядок сортировки из ViewData
    }

<h1>Список потенциальных работников Центра Занятости</h1>
<hr />

@if (employees.Count < 1)
{
    <p>Список потенциальных работников пуст.</p>
}

<div class="sort-options mb-3">
    <span>Сортировать по: </span>
    <a asp-controller="Employee" asp-action="Index" asp-route-sortOrder="lastname_asc" class="btn btn-secondary">Сортировать A-Я</a>
    <a asp-controller="Employee" asp-action="Index" asp-route-sortOrder="lastname_desc" class="btn btn-secondary">Сортировать Я-А</a>
</div>
<ol>
    @foreach (Employee employee in employees)
    {
        <li>
            <a asp-controller="Employee" asp-action="GetById" asp-route-id="@employee.Id">
                 @employee.LastName @employee.FirstName @employee.MiddleName @employee.Education @employee.Profession "@employee.Email"
            </a>
        </li>
    }
</ol>
<a asp-controller="Employee" asp-action="AddNewEmployee" class="btn btn-primary mb-3">
    Зарегистрировать нового работника
</a>
</body>
</html>